body{
    overflow-y: hidden;
}
.el-menu {
    border-right: solid 0px #e6e6e6;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
    background-color: #FFF;
}
.el-aside {
    overflow: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
}

.el-main {
    display: block;
    flex: 1;
    flex-basis: auto;
    overflow: auto;
    box-sizing: border-box;
    padding: 0;
}